### Renpy ###
# Don't track content of these folders #
########################################
cache/
saves/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Compiled Ren'Py files
*.rpyb
*.rpymc
*.pyc 
*.pyo

# Ignore all .rpyc files
*.rpyc

# But do not ignore .rpyc files in the old-game directory
!old-game/*.rpyc

# The log file and other misc things #
######################################
log.txt
errors.txt
traceback.txt
files.txt
.vscode/
.venv/*
.DS_Store